@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Oi&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0px;
    margin:0px ;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
}
.line-break{
    display:block;
}
h1,h2,h3,h4,h5,h6 p{
    margin:0px;
}
ul{
    padding:0px;
    margin:0px
}
.my-btn{
    border-radius:12px;
}
.first-btn{
    padding:9px 17px;
    border: 2px solid black;
    color:black;
    font-size:16px;
    font-weight: 700;
}
.second-btn{
    padding:9px 17px;
    border: 2px solid white;
    color:#ffffff;
    font-size:16px;
    font-weight: 700;
    background-color: #651FFF;
}
.container{
    max-width: 1200px;
    margin:0px auto;
}
/* header */
header{
    padding:20px 0px;
}
header ul li{
    list-style: none;
}
.header-wrapper nav a{
    color:#5C5F6E;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}
.header-wrapper ul {
    display: flex;
    align-items: center;
}
.firstul{
    gap:30px;
}
.header-wrapper >div ul li a{
    color:#5C5F6E;
}
/* banner */
.banner{
    padding:100px 0px;
    background-color: #FAFAFA;
}
.banner-wrapper{
    max-width: 1100px;
    margin: 0px auto;
}
.banner-wrapper >div>div:nth-child(2) >div h4{
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
    color:#651FFF;
}
.banner-wrapper >div>div:nth-child(2) >div h3{
    font-size:24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -3%;
}
.banner-wrapper >div>div:nth-child(2) >div p{
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -4%;
    color:#5C5F6E;
}
.banner-wrapper >div>div:nth-child(2) >div span{
    font-size:12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -2%;
    color:#838696;
}
.banner-wrapper >div>div:nth-child(1){
    background-image:url("./img/header/banner/systempic.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:24px;
    padding:30px;
    
}
.banner-wrapper>div>div:nth-child(1) div  h5{
    font-size:14px;
    font-weight: 700;
    letter-spacing: -2%;
    color:#ffffff;
}
.banner-wrapper >div>div:nth-child(1) div >span{
    font-size:14px;
    font-weight: 400;
    color:#EDF0F4;
}
.banner-wrapper >div>div:nth-child(1) div >p{
    font-size:32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -4%;
    color:#FFFFFF;
}

/* stories */
.stories{
    background-color: #FAFAFA;
    padding:50px 0px 100px 0px;
}

.stories h5{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#838696;
}
.stories h3{
    font-size:36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -4%;
    
}
.stories h2{

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -4%;
    margin:10px;
}
.inside{
    display: flex;
    align-items: center;
    gap:15px;  
    padding:10px;
}
.inside div{
    display: flex;
    gap:6px;
}
.inside span{
    color:#838696;
}
.inside img {
    width: 20px;      
    height: 20px;
    flex-shrink: 0;
}
.stories-wrapper >div>div>div>div:nth-child(2){
    background-color:#FFFFFF;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.str{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* marketing */
.marketing{
    background-color: #FAFAFA;
}
.marketing-wrapper{
    max-width: 1200px;
    margin:0px auto;
}
.marketing h5{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#838696;
}
.marketing h3{
    font-size:36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -4%;
    
}
.marketing-wrapper >div>div:nth-child(1)>{
    background-color: red;
}
.marketing-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}
/* connect */
.connect{
    padding: 100px 0px;
    background-color: #FAFAFA;
}
.connect button{
    border: none;
}
.connect input:focus{
    outline: none;
}
.connect-wrapper{
    background-color: #E0F7FA;
    border-radius: 24px;
    padding:30px 40px;
}
.connect-wrapper >div{
     display: flex;
     align-items: center;
}

.connect-wrapper>div>div:nth-child(1) >div{
    position: relative;
    
}
.connect-wrapper>div>div:nth-child(1) >div input{
    border: none;
    width: 100%;
    padding:15px 15px;
    border-radius: 12px;
    color:#838696;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #E2E4E9;   
}
.connect-wrapper p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    color:#838696;
}
.connect-wrapper>div>div:nth-child(1) >div button{
    padding:10px 20px;
    background-color: #651FFF;
    border-radius:12px ;
    color:#FFFFFF;
    position:absolute;
    top:105px ;
    right:5px;
}
.connect-wrapper span{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -2%;
    font-weight: 400;
    color:#838696;
}
.connect-wrapper h4{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -4%;
}




/* weekly */
.weekly{
    background-color: #FAFAFA;
    padding:50px 0px;
}
.weekly h5{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#838696;
}
.weekly h3{
    font-size:36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -4%;   
}
.weekly-wrapper >div>div>div > div >span{
    font-size:14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2%;
    color:#651FFF;
    text-transform: uppercase;
}
.weekly-wrapper h3{
    font-size:20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -3%;
    margin:20px 0px 25px 0px;
}
.weekly-wrapper h5{
    font-size:14px;
    font-weight: 700;
    letter-spacing: -2%;
    text-transform:inherit;
    color:#000000;
}
.feb{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -2%;
    color:#838696;
}
.shade{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0,0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
}

.weekly-wrapper>div>div>div>div:last-child{
    padding:20px;
    display: flex;
    flex-direction: column;
    flex:1;
}
.week{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;  
}
/* .guides */
.guides {
    background-color: #FAFAFA;
    padding:80px 0px;
}
.guides h5{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#838696;
}
.guides h3{
    font-size:36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -4%;   
}
.guides-wrapper{
    background-image: url("./img/header/guides/Group\ 379.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 24px;
    padding:60px;
    margin-top:50px;
}
.elliot{
    font-size:14px;
    font-weight: 700;
    color:#FFFFFF;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: lowercase;
}
.guides .feb{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -2%;
    color:#EDF0F4;
}
.guides .pro{
    font-size:14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#FFFFFF;
}
.guides p{
    font-size:48px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -4%;
    color:#FFFFFF;
}
.guides-wrapper>div>div>div{
    gap:100px;
}

/* collection  */
.collection{
    padding:70px 0px;
    background-color: #FAFAFA;
}
.collection-wrapper >div>div:nth-child(1)>div,.collection-wrapper >div>div:nth-child(2)>div,.collection-wrapper >div>div:nth-child(3)>div{
     height: 100%;
     box-shadow: 0px 4px 24px 0px rgba(0, 0, 0,0.2);
     padding:30px;
     border-radius: 24px;
     background-color: #FFFFFF;
}
.collection-wrapper>div>div>div >span{
    font-size:14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 5%;
    text-transform: uppercase;
    color:#838696;
}
.collection-wrapper h4{
    font-size:24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -4%;
}
.collection-wrapper p{
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -4%;
    color:#838696;
}
.collect{ 
    font-size:48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -4%;
}
.view{
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -4%;
    color:#651FFF;
}
/* articles */
.articles{
    padding:100px 0px;
}
.articles-wrapper h5{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#838696;
}
.articles-wrapper h3{
    font-size:36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -4%; 
    margin-bottom: 50px;  
}
.art{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0,0.2);
    padding:15px;
    border-radius: 24px;
}
.hd{
    font-size:14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#651FFF;
}
.articles-wrapper h4{
    font-size:24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -3%;
}
.articles-wrapper p{
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -4%;
    color:#838696;
}
.articles .ell{
    font-size:14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -2%;
    text-transform: inherit;
    color:#000000;
}
.articles-wrapper>div>div:nth-child(2) >div:nth-child(2) h3{
    font-size:24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -4%;
    color:#FFFFFF;
}
.articles-wrapper>div>div:nth-child(2) >div:nth-child(2) .ell{
    color:#FFFFFF;
}
.articles-wrapper>div>div:nth-child(2) >div>div >span{
    font-size:14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#FFFFFF;
}
.card-bg {
    background-image: url("./img/header/article/lap.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:25px;
    border-radius: 24px;
    gap:150px;
}

.articles-wrapper .feb-19{
    color:#EDF0F4;
    font-size:12px;
    font-weight: 400;
    line-height: 16px;
}
.arrow > div > div{
    background-color:#EDF0F4;
    width:50%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px;
    margin:25px 0px 25px 0px;
}
.bg{
    background-color:#FFFFFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0,0.2);
    border-radius: 24px;
    padding:30px;
    
}
.connectupper{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color:#838696;

}
.articles-wrapper .john{
    
    font-size: 16px;
    font-weight: 400;
    color:#838696;
    line-height: 24px;
    letter-spacing: -4%;

}
.wellick{
    font-size:24px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -4%;
}

/* deupload */
.deupload{
    padding:100px 0px 50px 0px;
    background-color:#1A284E ;
}
.deupload-wrapper{
    max-width: 1100px;
    margin:0px auto;
}
.deupload >div>div:nth-child(1) >div>div>div{
    display: flex;
    align-items: center;
    gap:30px;
}
.deupload ul li{
    line-height: 30px;
    list-style: none;
}
.deupload h3{
    font-size:16px;
    font-weight: 900;
    color:#E2E4E9;
}
.deupload  a{
    font-size:16px;
    font-weight: 400;
    color:#E2E4E9;
}
.deupload p{
    font-size:16px;
    font-weight: 400;
    color:#E2E4E9;
}
/* footer */
.footer{
    background-color: #1A284E;
    padding:50px 0px;
}
.footer-wrapper{
    max-width: 1100px;
    margin:0px auto;
}
.footer-wrapper div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.footer-wrapper p{
    color:#FFFCF7;
    font-size: 14px;
    font-weight: 400;
}
    /* @media  screen and (max-width:700px) {
        .stories .container{
        max-width: 500px;
    }
    } */
    @media screen and (max-width:1150px){
    .header-wrapper nav {
        display: none;
    }
    .header-wrapper div>div li{
        display:none;
    }
    
}
